#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.5);
}

#modal-container {
  position: absolute;
  display: flex;
  flex-flow:column;
  width: 40%;
  max-height: 80%;
  background-color:white;
  transition: bottom .2s ease-out;
  border-radius: 14px;
}

#modal-content {
  overflow-y: auto;
}
