.sidebar {
  grid-column-start: 1;
  width: 0;
  min-width: 180px;
  max-width: 210px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  transform: translateY(0);
  transition-property: transform, min-width, width;
  transition-duration: 1s, 1s, 1s;
}

#hidden {
  transform: translateY(-100%);
  min-width: 0;
  transition-property: transform, min-width, width;
  transition-duration: 1s, 1s, 1s;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.logo_container {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
  top:0;
  background-color: hsl(240,26%,89%);
  z-index: 1;
}

.tasb-top-logo{
width: 160px;
transition: 1s;
}

#hidden.tasb-top-logo{
transition: 1s;
width: 0;
}

.tasb-caret {
color: black;
height:12px;
width: 12px;
}

.collapser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 4px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.collapser_header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 28px;
  width: 100%;
}

.collapser_header:hover,
.banner_item:hover {
  background-color: hsl(240,26%,82%);
  cursor:pointer;
}

.collapse_button {
  cursor: pointer;
  transform: rotate(-90deg);
  transition-duration: 0.5s;
}

.collapse_button#expanded {
  transform: rotate(0)
}

.collapser_action {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner_item{
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 28px;
  flex-grow: 1;
  justify-content: space-between;
}

.children_container {
  box-sizing: border-box;
  width: 100%;
}

.collapser_rhs_icons {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2px;;
}

.plus, .dropdown_caret {
  height: 12px;
  width: 12px;
  margin-right: 2px;
  border-radius: 3px;

  border: 1px solid hsl(240, 26%, 40%);

  filter: brightness(0) saturate(100%) invert(32%) sepia(3%) saturate(4186%) hue-rotate(202deg) brightness(100%) contrast(83%);
}

.plus:hover, .dropdown_caret:hover {
  background-color: hsl(240, 26%, 40%);
  filter: invert(91%) sepia(21%) saturate(239%) hue-rotate(200deg) brightness(100%) contrast(85%);
}

.dropdown_caret {
  display: none;
}

.count {
  background-color: hsl(240,26%,84%);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 2px;
  width: 14px;
  height: 14px;
}


.dropdown_caret:hover {
  border: 1px solid hsla(240, 15%, 40%);
  border-radius: 3px;
}

.banner_item:hover .dropdown_caret {
  display: inherit;
}

.children_container {
  display: flex;
  flex-direction: column;

}

.title {
  flex-grow: 1;
  padding-left: 4px;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex {
  display:flex
}


.banner_dropdown {
  position: absolute;
  left: -100px;
  z-index: 1;

  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 20%);

  width: max-content;
  min-width: 100px;
  height: max-content;
  padding: 8px 0;

  display:flex;
  flex-direction: column;

}

.sidebar_dropdown_button {
  font-size: 14px;
  height: 20px;
  padding: 0px 8px;
  padding-top: 3px;
}

.sidebar_dropdown_button:hover {
  background-color: hsl(240,26%,84%);
}

.sb-tag-color {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-right: 2px;
}
