/* TODO Add site wide styles */
* {
    margin: 0;
    font-family: Roboto;
}

*:focus {
    outline:none;
}

::-moz-selection, ::selection{
    background-color: #56538c;
    color: rgb(255, 255, 255);
}

body{
    background-color: #ddddeb;
}
