#list-details-name {
    margin: 34px 0 0 24px;
    font-size: 1.125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
}

#list-details-name-container {
    display: grid;
}

#list-details-data-container {
    margin: 13px 0 0 27px;
}

.list-details-data {
    padding: 9px 13px;
    display: inline-block;
    background-color: #D3D3E0;
    border-radius: 5px;
    margin-right: 5px;
}

.list-details-data>div {
    display: inline-block;
}

.list-details-data-label {
    font-size: 0.75rem;
}

.list-details-data-value {
    font-size: 1.1875rem;
    font-weight: 600;
    display: inline-block;
}

#list-details-tasks {
    color: #56538c;
}

#list-details-overdue {
    color: #d74a00
}

#list-details-completed {
    color: rgba(0, 0, 0, 0.4)
}

#list-details-estimated-time {
    margin-left: 13px;
    padding-left: 13px;
    border-left: 1px solid #C0C0CC;
}