.tam-main-div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-width: 420px;
    min-height: 100%;
}
