.tan-main-div{
    position: relative;
    z-index:99;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: minmax(10px,auto) 3fr 3fr 10px;
    grid-template-rows: 40px;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    align-items: center;
    /* height: 40px; */
    width: 100%;
    background-color: #56538c;
    border-bottom: 2px solid #555;
}

@media screen and (max-width: 1020px) {
    .tan-main-div {
        grid-template-columns: minmax(10px,auto) 6fr 10px;
    }
}
.tan-left-container {
    margin-left: 5px;
    margin-right: 5px;
}

.tan-left-div {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(179,177,203);
    height: 30px;
    border-radius: 4px;
    width: fit-content;
}


.tan-left-div:hover {
    cursor: pointer;
    background-color: hsl(243, 26%, 30%);
    transition-duration: 0.5s;
}

.tan-list-name {
    font-weight: 600;
    overflow: hidden;
    margin-left: 0;
    padding-right: 5px;
    width: 100%;
    transition: .5s;

    text-overflow: clip;
    white-space: nowrap;
}

#no-width {
    margin-right: 100%;
    font-size: 0;
    padding: 0;
    transition: .5s;
}

.expandDiv {
    min-width: 170px;
    max-width: 200px;
}

.tan-icon-style{
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(345deg) brightness(105%) contrast(101%);
    opacity: 0.55;
}

.tan-search-icon-style {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(345deg) brightness(105%) contrast(101%);
    opacity: 0.55;align-self: start;
    transition-duration: .5s;
}

.tan-search-icon-focus-style {
    filter: invert(64%) sepia(24%) saturate(0%) hue-rotate(254deg) brightness(92%) contrast(87%);
    opacity: 1;
    transition-duration: .5s;
}


.tan-hamburger-icon{
    grid-column-start: 1;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 5px;
}

.tan-search-container {
    grid-column-start: 2;
    /* min-width: 420px; */
}

.tan-search-pseudo-input{
    /* position: relative; */
    display: flex;
    justify-self: start;
    align-items: center;
    left: 180px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 300px;
    transition-duration: .5s;
}

.tan-search-input:focus-within{
    background-color: #fff;
    color: #333;
    transition-duration: .5s;
}

.tan-search-mag-icon{
    position: absolute;
    align-self: center;
    justify-self: start;
    /* left: 10px;
    top: 5px; */
    height: 18px;
    width: auto;
    margin-left: 10px;
    z-index: 10;
}

.tan-search-pseudo-input form {
    width: 100%;
    height: 100%;
}

.tan-search-input{
    /* position: absolute; */
    left: 45px;
    top: 1px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    /* opacity: 0.8; */
    font-size: 14px;
    padding-top: 2px;
    transition-duration: 0.5s;
    padding-left: 33px;
    box-sizing: border-box;
    border-radius: 4px;
}

.tan-search-input:hover:not(:focus){
    background-color: #6562A6;
    transition-duration: 0.5s;
}

.tan-search-down-caret-icon{
    /* position: absolute; */
    align-self:center;
    right: 10px;
    top: 6.25px;
    height: 15px;
    width: auto;
}

.tan-settings-icon-grp{
    grid-column-start: 3;
    justify-self: end;
    padding: 5px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    /* padding-right: 20px; */
}

.tan-settings-icon-grp:hover {
    cursor: pointer;
    background-color: hsl(243, 26%, 30%);
    transition-duration: 0.5s;
  }

.tan-settings-gear-icon{
    height: 24px;
    width: auto;
}
.tan-settings-down-caret-icon{
    height: 15px;
    width: auto;
}

.tan-settings-dropdown-menu {
    position:absolute;
    transform: translateX(-100%);
    z-index: 1;

    width: 200px;
    height:50px;

    border-radius: 8px;
    background-color: white;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 20%);

    width: max-content;
    min-width: 120px;

    height: max-content;
    padding: 8px 0;

    display:flex;
    flex-direction: column;

  }

.tan-dropdown-button {
font-size: 14px;
height: 20px;
padding: 0px 8px;
padding-top: 3px;
}

.tan-dropdown-button:hover {
    background-color: hsl(240,26%,84%);
    cursor: pointer;
  }
