.tri-main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33px;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px dotted #bbb;
}

.tri-prio-indi{
    width: 3px;
    min-width: 3px;
    height: 80%;
    border-radius: 1px;
    background-color: crimson;
}

.tri-checkbox-div{
    padding-left: 9px;
    padding-right: 6px;
}

.tri-move-grab{
    height: 10px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.tri-inner-grp{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.tri-task-name {
    color: #111;
    font-size: 16px;
    padding-right: 10px;
}
.tri-tags {
    background-color: darkgreen;
    color: white;
    border-radius: 3px;
    text-align: center;
}
