.dropdown_container {
  position: absolute;
  /* right: 400px; */
  z-index: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.dropdown_menu {
  position: absolute;
  transform: translateX(50%);
  width: 200px;
  height:50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
}
