#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.5);
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#modal-container {
  position: absolute;
  padding: 29px 37px;
  display: flex;
  flex-flow:column;
  width: 314px;
  max-height: 80%;
  background-color:white;
  transition: bottom .2s ease-out;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
  border: 1px solid #d1d1d1;
}

#modal-header {
  display: flex;
  font-size: 1.125rem;
}

#modal-close-button {
  position: absolute;
  right: 20px;
  height: 16px;
  width: 16px;
  opacity: .3;
}

#modal-close-button:hover {
  cursor: pointer;
  opacity: .6;
}

#modal-content {
  overflow-y: auto;
}
