.tri-main-div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px dotted #bbb;
    overflow: hidden;
    white-space: nowrap;
}

.tri-prio-indi{
    width: 3px;
    min-width: 3px;
    min-height: 80%;
    border-radius: 1px;
    background-color: #ccc;
}

.tri-prio-high{
    background-color: #ea5200;
}

.tri-prio-medium{
    background-color: #0060bf;
}

.tri-prio-low{
    background-color: #359aff;
}

.tri-check-btn-div{
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-left: 5px;
}

.tri-check-btn-div:hover{
    border: 1px solid #007604;
}

.tri-check-btn-div:active{
    transform: scale(.9);
}

.tri-check-btn-div:hover .tri-check{
    filter: invert(26%) sepia(100%) saturate(1307%) hue-rotate(102deg) brightness(89%) contrast(103%);
}

.tri-check {
    height: 16px;
    width: 16px;
    filter: invert(77%) sepia(0%) saturate(3%) hue-rotate(2deg) brightness(94%) contrast(91%);
    color: #007604;
}

.tri-move-grab{
    height: 18px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
}

.tri-main-div:hover{
    background-color: #f9f2ff;
}

.tri-main-div:hover .tri-move-grab{
    opacity: .25;
}

.tri-main-div:hover .tri-trash{
    display: inherit;
}

.tri-move-grab:hover{
    cursor: grab;
}

.tri-inner-grp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
}

.tri-task-name {
    color: #111;
    font-size: 16px;
    /* padding-right: 10px;
    padding-left: 12px; */
}
.tri-tags {
    background-color: darkgreen;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    margin: 2px;
}

.tri-trash {
    border-radius: 3px;
    justify-content: center;
    display: none;
    position: absolute;
    right: 14px;
    height: 25px;
    width: 25px;
    align-items: center;
    z-index: 10;
    background-color: #f9f2ff;
    border: 1px solid lightgrey;
}

.tri-trash img{
    opacity: .35;
    height: 20px;
    width: auto;
}

.tri-trash:hover img{
    opacity: .9;
}

.tri-trash:hover{
    border-color: grey;
}

.tri-trash:active{
    transform: scale(0.9);
}
